*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/config.php.ent.dist
!/app/etc/config.php.mid.dist
!/app/i18n/**
!/auth.json.sample
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
!/.docker
!/.docker/**
!/.docker-custom
!/.docker-custom/**
!/docker-compose.override.yml
!/docker-compose.yml
!/mail.ini
!/mhsendmail_linux_amd64
!/composer-install-cmd.sh
!/composer-update-cmd.sh
